.dockerignore
# there are valid reasons to keep the .git, namely so that you can get the
# current commit hash
.git
.log
tmp

# Mix artifacts
_build
cover
deps
doc
test
tmp
*.ez
assets/node_modules
releases
frontend

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
node_modules
