# App artifacts
/_build
/cover
/db
/deps
/doc
*.beam
*.env
*.ez
.vscode
.idea
/config/*.secret.exs
**/node_modules/**/*
**/.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/
web-report/

# Generate on crash by the VM
erl_crash.dump

# Runtime logs (e.g. tmp/new_relic.log written by the New Relic agent)
/tmp/

# Static artifacts
# The web build is exported into priv/static at image build time.
/priv/static/

*.DS_Store
