html, body {
    height: 100%;
    background-color: #333;
}

body > div:first-child,
#__next,
#__next > div {
    height: 100%;
}

.page {
    background: no-repeat center center fixed;
    background-image: url(http://res.cloudinary.com/picape/image/upload/f_auto,fl_immutable_cache.progressive/v1503141378/eat-bg_kigvfj.jpg);
}
